In [1]:
import pandas as pd
import numpy as np

In [ ]:
# We should do the following:
# 1. Capitalize "city", 2. Turn "zip", beds baths, sq__ft and price into int
#3. turn latitue and longtitude into float; 4. rename sq__ft to sq_ft; 5. turn "sale_date" into DD-MM-YYYY

In [2]:
# Import CSV:

df = pd.read_csv("Sacramentorealestatetransactions.csv")

In [5]:
df.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [10]:
df[["street"]].head()

             street
0      3526 HIGH ST
1       51 OMAHA CT
2    2796 BRANCH ST
3  2805 JANETTE WAY
4   6001 MCMAHON DR

In [11]:
df["street"]

0             3526 HIGH ST
1              51 OMAHA CT
2           2796 BRANCH ST
3         2805 JANETTE WAY
4          6001 MCMAHON DR
              ...
980     9169 GARLINGTON CT
981        6932 RUSKUT WAY
982      7933 DAFFODIL WAY
983       8304 RED FOX WAY
984    3882 YELLOWSTONE LN
Name: street, Length: 985, dtype: object

In [ ]:
# Difference is that double brackets accesses DataFrame and just one, accessess series

In [ ]:
# 4. Rename sq__ft to sq_ft
#4.1 Start a copy, so we dont mess up the original DataFrame

In [12]:
df_clean = df.copy()
df_clean.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [15]:
#Call columns labels via

df_clean.columns

Index(['street', 'city', 'zip', 'state', 'beds', 'baths', 'sq__ft', 'type',
       'sale_date', 'price', 'latitude', 'longitude'],
      dtype='object')

In [16]:
type(df_clean.columns)

pandas.core.indexes.base.Index

In [18]:
# It looks like a list, lets change it into a list
list(df_clean.columns)

['street',
 'city',
 'zip',
 'state',
 'beds',
 'baths',
 'sq__ft',
 'type',
 'sale_date',
 'price',
 'latitude',
 'longitude']

In [19]:
#experimenting if list comprehension works

[col_name for col_name in df_clean.columns]

['street',
 'city',
 'zip',
 'state',
 'beds',
 'baths',
 'sq__ft',
 'type',
 'sale_date',
 'price',
 'latitude',
 'longitude']

In [20]:
# Now we can utilize a string op within list comprehension

[col_name.replace("__","_") for col_name in df_clean.columns]

['street',
 'city',
 'zip',
 'state',
 'beds',
 'baths',
 'sq_ft',
 'type',
 'sale_date',
 'price',
 'latitude',
 'longitude']

In [21]:
# How to reassign the columns in the actual df_clean?
# We can reassign it the same way we accesses the columns and using the list comprehension:

df_clean.columns = [col_name.replace("__","_") for col_name in df_clean.columns]

In [24]:
df_clean.head()

,street,city,zip,state,beds,baths,sq_ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [25]:
# Task 1: Capitalize "city"

df_clean["city"]

0           SACRAMENTO
1           SACRAMENTO
2           SACRAMENTO
3           SACRAMENTO
4           SACRAMENTO
            ...
980         SACRAMENTO
981         SACRAMENTO
982     CITRUS HEIGHTS
983          ELK GROVE
984    EL DORADO HILLS
Name: city, Length: 985, dtype: object

In [26]:
#Entire series is passed to a method like in SQL - "Select city and then wrapped with the function"

df_clean["city"].str.capitalize()

0           Sacramento
1           Sacramento
2           Sacramento
3           Sacramento
4           Sacramento
            ...
980         Sacramento
981         Sacramento
982     Citrus heights
983          Elk grove
984    El dorado hills
Name: city, Length: 985, dtype: object

In [27]:
# Or we can use a different string function, e.g. str.title

df_clean["city"].str.title()

0           Sacramento
1           Sacramento
2           Sacramento
3           Sacramento
4           Sacramento
            ...
980         Sacramento
981         Sacramento
982     Citrus Heights
983          Elk Grove
984    El Dorado Hills
Name: city, Length: 985, dtype: object

In [ ]:
# !! The Issue is, this doesnt reapply it into the DataFrame, just a modified output (temp)

#so- - now we have to reassign it:

In [28]:
df_clean["city"] = df_clean["city"].str.title()

In [29]:
df_clean.head()

,street,city,zip,state,beds,baths,sq_ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,Sacramento,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,Sacramento,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,Sacramento,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,Sacramento,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,Sacramento,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [ ]:
#2 and 3: turn into ints and floats

In [31]:
#find types, they are numpy types though
df_clean.dtypes

street        object
city          object
zip            int64
state         object
beds           int64
baths          int64
sq_ft          int64
type          object
sale_date     object
price          int64
latitude     float64
longitude    float64
dtype: object

In [ ]:
# As we can see, pandas converted everything into types, via inferring.
# Thus, all is properly converted into ints and floats already.

## 5. Sale date into YYYY-MM-DD

In [37]:
df["sale_date"]

0      Wed May 21 00:00:00 EDT 2008
1      Wed May 21 00:00:00 EDT 2008
2      Wed May 21 00:00:00 EDT 2008
3      Wed May 21 00:00:00 EDT 2008
4      Wed May 21 00:00:00 EDT 2008
                   ...
980    Thu May 15 00:00:00 EDT 2008
981    Thu May 15 00:00:00 EDT 2008
982    Thu May 15 00:00:00 EDT 2008
983    Thu May 15 00:00:00 EDT 2008
984    Thu May 15 00:00:00 EDT 2008
Name: sale_date, Length: 985, dtype: object

In [39]:
df["sale_date"].dtype

dtype('O')

In [32]:
#sale date isn't a proper date object, just a string. However, Pandas can read it, using method:
pd.to_datetime(df_clean["sale_date"])

C:\Users\brian\.conda\envs\backpack_banana\lib\site-packages\dateutil\parser\_parser.py:1218: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

0     2008-05-21
1     2008-05-21
2     2008-05-21
3     2008-05-21
4     2008-05-21
         ...
980   2008-05-15
981   2008-05-15
982   2008-05-15
983   2008-05-15
984   2008-05-15
Name: sale_date, Length: 985, dtype: datetime64[ns]

In [36]:
# Warning mentioned something with the timezone, how to fix?

# documentation said, add UTC as a keyword
pd.to_datetime(df_clean["sale_date"], utc=True)

0     2008-05-21 00:00:00+00:00
1     2008-05-21 00:00:00+00:00
2     2008-05-21 00:00:00+00:00
3     2008-05-21 00:00:00+00:00
4     2008-05-21 00:00:00+00:00
                 ...
980   2008-05-15 00:00:00+00:00
981   2008-05-15 00:00:00+00:00
982   2008-05-15 00:00:00+00:00
983   2008-05-15 00:00:00+00:00
984   2008-05-15 00:00:00+00:00
Name: sale_date, Length: 985, dtype: datetime64[ns, UTC]

In [41]:
#However the type is still now datetime or previously object - this is not easily editable, so we should convert it to a series:

pd.to_datetime(df_clean["sale_date"], utc=True).dt.strftime("%Y-%m-%d")
                                                            
# The "dt.strftime" is the function to make it an object (string) and can then be formated for times, as wished

0      2008-05-21
1      2008-05-21
2      2008-05-21
3      2008-05-21
4      2008-05-21
          ...
980    2008-05-15
981    2008-05-15
982    2008-05-15
983    2008-05-15
984    2008-05-15
Name: sale_date, Length: 985, dtype: object

In [42]:
# Now we can input it into the DataFramecopy

df_clean["sale_date"] = pd.to_datetime(df_clean["sale_date"], utc=True).dt.strftime("%Y-%m-%d")
df_clean.head()

,street,city,zip,state,beds,baths,sq_ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,Sacramento,95838,CA,2,1,836,Residential,2008-05-21,59222,38.631913,-121.434879
1,51 OMAHA CT,Sacramento,95823,CA,3,1,1167,Residential,2008-05-21,68212,38.478902,-121.431028
2,2796 BRANCH ST,Sacramento,95815,CA,2,1,796,Residential,2008-05-21,68880,38.618305,-121.443839
3,2805 JANETTE WAY,Sacramento,95815,CA,2,1,852,Residential,2008-05-21,69307,38.616835,-121.439146
4,6001 MCMAHON DR,Sacramento,95824,CA,2,1,797,Residential,2008-05-21,81900,38.519470,-121.435768

In [ ]:
# Recap

# 1. Read data
df_1 = pd.read_csv("Sacramentorealestatetransactions.csv")
# 2. replace "__" from columns names
df_1.columns = [col_name.replace("__","_") for col_name in df_clean.columns]
# 3. Conver to capital city
df_1["city"] = df_1["city"].str.title()
# 4. convert date string into "YYYY-MM-DD"
df_1["sale_date"] = pd.to_datetime(df_1["sale_date"], utc=True).dt.strftime("%Y-%m-%d")

# NOW CREATE A CSV; Index fixes the comma in the beginning

In [ ]:
df_clean.to_csv("clean_sacramento.csv", index=False)

In [45]:
## Other option is to pickle it, only interpretable by python.
# it is preserved, why? dont really know.

df_clean.to_pickle("clean_sacramento.pkl")